<div class="card">
  <div class="card-header">Tooltip</div>
  <div class="card-body">
    <h6>Quick and easy tooltips</h6>
    <app-ngbd-tooltip-basic></app-ngbd-tooltip-basic>

    <h6 class="pt-4">HTML and bindings in tooltips</h6>
    <app-ngbd-tooltip-tplcontent></app-ngbd-tooltip-tplcontent>

    <h6 class="pt-4">Custom and manual triggers</h6>
    <app-ngbd-tooltip-triggers></app-ngbd-tooltip-triggers>

    <h6 class="pt-4">Context and manual triggers</h6>
    <app-ngbd-tooltip-tplwithcontext></app-ngbd-tooltip-tplwithcontext>

    <h6 class="pt-4">Append tooltip in the body</h6>
    <app-ngbd-tooltip-container></app-ngbd-tooltip-container>

    <h6 class="pt-4">Global configuration of tooltips</h6>
    <app-ngbd-tooltip-config></app-ngbd-tooltip-config>
  </div>
</div>