<div class="card">
  <div class="card-header">Basic datepicker</div>
  <div class="card-body">
    <app-ngbd-datepicker-basic></app-ngbd-datepicker-basic>
  </div>
</div>

<div class="card">
  <div class="card-header">Multiple months</div>
  <div class="card-body">
    <app-ngbd-datepicker-multiple></app-ngbd-datepicker-multiple>
  </div>
</div>

<div class="card">
  <div class="card-header">Range selection</div>
  <div class="card-body">
    <app-ngbd-datepicker-range></app-ngbd-datepicker-range>
  </div>
</div>

<div class="card">
  <div class="card-header">Disabled datepicker</div>
  <div class="card-body">
    <app-ngbd-datepicker-disabled></app-ngbd-datepicker-disabled>
  </div>
</div>

<div class="card">
  <div class="card-header">Datepicker in a popup</div>
  <div class="card-body">
    <app-ngbd-datepicker-popup></app-ngbd-datepicker-popup>
  </div>
</div>

<div class="card">
  <div class="card-header">Custom date adapter</div>
  <div class="card-body">
    <app-ngbd-datepicker-adapter></app-ngbd-datepicker-adapter>
  </div>
</div>

<div class="card">
  <div class="card-header">Internationalization of datepickers</div>
  <div class="card-body">
    <app-ngbd-datepicker-i18n></app-ngbd-datepicker-i18n>
  </div>
</div>

<div class="card">
  <div class="card-header">Custom day view</div>
  <div class="card-body">
    <app-ngbd-datepicker-customday></app-ngbd-datepicker-customday>
  </div>
</div>

<div class="card">
  <div class="card-header">Alternative calendars</div>
  <div class="card-body">
    <app-ngbd-datepicker-calendars></app-ngbd-datepicker-calendars>
  </div>
</div>

<div class="card">
  <div class="card-header">Global configuration of datepickers</div>
  <div class="card-body">
    <app-ngbd-datepicker-config></app-ngbd-datepicker-config>
  </div>
</div>
