<div class="card">
  <div class="card-header">Popovers</div>
  <div class="card-body">
    <h6>Quick and easy popovers</h6>
    <app-ngbd-popover-basic></app-ngbd-popover-basic>

    <h6 class="pt-4">HTML and bindings in popovers</h6>
    <app-ngbd-popover-tplcontent></app-ngbd-popover-tplcontent>

    <h6 class="pt-4">Custom and manual triggers</h6>
    <app-ngbd-popover-triggers></app-ngbd-popover-triggers>

    <h6 class="pt-4">Context and manual triggers</h6>
    <app-ngbd-popover-tplwithcontext></app-ngbd-popover-tplwithcontext>

    <h6 class="pt-4">Popover visibility events</h6>
    <app-ngbd-popover-visibility></app-ngbd-popover-visibility>

    <h6 class="pt-4">Append popover in the body</h6>
    <app-ngbd-popover-container></app-ngbd-popover-container>

    <h6 class="pt-4">Global configuration of popovers</h6>
    <app-ngbd-popover-config></app-ngbd-popover-config>
  </div>
</div>