<div class="card">
  <div class="card-body">
    <h6>Basic pagination</h6>
    <app-ngbd-pagination-basic></app-ngbd-pagination-basic>

    <h6 class="pt-4">Advanced pagination</h6>
    <app-ngbd-pagination-advanced></app-ngbd-pagination-advanced>

    <h6 class="pt-4">Pagination size</h6>
    <app-ngbd-pagination-size></app-ngbd-pagination-size>

    <h6 class="pt-4">Disabled pagination</h6>
    <app-ngbd-pagination-disabled></app-ngbd-pagination-disabled>

    <h6 class="pt-4">Global configuration</h6>
    <app-ngbd-pagination-config></app-ngbd-pagination-config>
  </div>
</div>