<div class="card">
  <div class="card-header">Tabset</div>
  <div class="card-body">
    <h6>Tabset</h6>
    <app-ngbd-tabset-basic></app-ngbd-tabset-basic>

    <h6 class="pt-4">Pills</h6>
    <app-ngbd-tabset-pills></app-ngbd-tabset-pills>

    <h6 class="pt-4">Select an active tab by id</h6>
    <app-ngbd-tabset-selectbyid></app-ngbd-tabset-selectbyid>

    <h6 class="pt-4">Prevent tab change</h6>
    <app-ngbd-tabset-preventchange></app-ngbd-tabset-preventchange>

    <h6 class="pt-4">Nav justification</h6>
    <app-ngbd-tabset-justify></app-ngbd-tabset-justify>

    <h6 class="pt-4">Nav orientation</h6>
    <app-ngbd-tabset-orientation></app-ngbd-tabset-orientation>

    <h6 class="pt-4">Global configuration of tabs</h6>
    <app-ngbd-tabset-config></app-ngbd-tabset-config>
  </div>
</div>