<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="tool-bar">
        <form class="form-inline">
          <div class="form-group">
            <label>From : </label>
            <div class="form-group">
              <select class="form-control">
                <option>Jonathon Smith</option>
                <option>John Doe</option>
                <option>Bill Smith</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4 rounded-bottom">
        <div class="content-center">
          <div class="c100 green" [ngClass]="allPosts.percentage">
            <span class="fa fa-quote-right"></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="post-comment">
            <p class="title">
              {{allPosts.name}}
            </p>
            <p class="posts">
              {{allPosts.value | number:'2.'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4 rounded-bottom">
        <div class="content-center">
          <div class="c100 dark-blue" [ngClass]="twitterPosts.percentage">
            <span class="fa fa-twitter"></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="post-comment">
            <p class="title">
              {{twitterPosts.name}}
            </p>
            <p class="posts">
              {{twitterPosts.value | number:'2.'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4  rounded-bottom">
        <div class="content-center">
          <div class="c100 blue" [ngClass]="facebookPosts.percentage">
            <span class="fa fa-facebook"></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="post-comment">
            <p class="title">
              {{facebookPosts.name}}
            </p>
            <p class="posts">
              {{facebookPosts.value | number:'2.'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4  rounded-bottom">
        <div class="content-center">
          <div class="c100 pink" [ngClass]="instagramPosts.percentage">
            <span class="fa fa-instagram"></span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="post-comment">
            <p class="title">
              {{instagramPosts.name}}
            </p>
            <p class="posts">
              {{instagramPosts.value | number:'2.'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Post Over Time</div>
      <div class="card-body">
        <div>
          <ngx-charts-line-chart
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateData"
            [legend]="showLegend"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [curve]="curve"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="true"
            (select)="select($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Posts by Geographic Region</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">World Cloud</div>
      <div class="card-body p-0">
      </div>
    </div>
  </div>
</div>
