<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4 rounded-bottom">
        <div class="content-center">
          <div class="c100 p90 blue">
            <span>90%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4  rounded-bottom">
        <div class="content-center">
          <div class="c100 p90 blue">
            <span>90%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4  rounded-bottom">
        <div class="content-center">
          <div class="c100 p90 blue">
            <span>90%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body px-0 py-4  rounded-bottom">
        <div class="content-center">
          <div class="c100 p90 blue">
            <span>90%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Post Over Time</div>
      <div class="card-body">
        <div>
          <ngx-charts-line-chart
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="dateDataWithOrWithoutRange"
            [legend]="showLegend"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            [showGridLines]="showGridLines"
            [curve]="curve"
            [rangeFillOpacity]="rangeFillOpacity"
            [roundDomains]="roundDomains"
            [tooltipDisabled]="true"
            (select)="select($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Basic Map</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Styled Map</div>
      <div class="card-body p-0">
      </div>
    </div>
  </div>
</div>
