:host ::ng-deep {
  .chart-container {
    height: 170px;
    width: 100%;
    display: block;
  }

  .ngx-charts .gridline-path {
    stroke-width: 0.5;
  }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .post-comment {
    padding: 20px;
    color: #999999;
    font-size: 17px;

    .title {
      font-size: 12px;
    }
  }
}

.green {
  color: #4db53c !important;
}

.dark-blue {
  color: #3f597b !important;
}

.blue {
  color: #307bbb !important;
}

.pink {
  color: #c03395 !important;
}

.tool-bar {
  padding: 10px 20px;
}
