<div class="row">
  <div class="col-md-6 mb-3">
    <h6>Basic Accordion</h6>
    <app-ngbd-accordion-basic></app-ngbd-accordion-basic>
  </div>
  <div class="col-md-6 mb-3">
    <h6>One open panel at a time</h6>
    <app-ngbd-accordion-static></app-ngbd-accordion-static>
  </div>
  <div class="col-md-6 mb-3">
    <h6>Toggle panels</h6>
    <app-ngbd-accordion-toggle></app-ngbd-accordion-toggle>
  </div>
  <div class="col-md-6 mb-3">
    <h6>Prevent panel toggle</h6>
    <app-ngbd-accordion-preventchange></app-ngbd-accordion-preventchange>
  </div>
  <div class="col-md-12 mb-3">
    <h6>Global configuration of accordions</h6>
    <app-ngbd-accordion-config></app-ngbd-accordion-config>
  </div>
</div>