<div class="card">
  <div class="card-header">Rating component</div>
  <div class="card-body">
    <h6>Basic demo</h6>
    <app-ngbd-rating-basic></app-ngbd-rating-basic>

    <h6 class="pt-4">Events and readonly ratings</h6>
    <app-ngbd-rating-events></app-ngbd-rating-events>

    <h6 class="pt-4">Custom star template</h6>
    <app-ngbd-rating-template></app-ngbd-rating-template>

    <h6 class="pt-4">Custom decimal rating</h6>
    <app-ngbd-rating-decimal></app-ngbd-rating-decimal>

    <h6 class="pt-4">Form integration</h6>
    <app-ngbd-rating-form></app-ngbd-rating-form>

    <h6 class="pt-4">Global configuration of ratings</h6>
    <app-ngbd-rating-config></app-ngbd-rating-config>
  </div>
</div>